body{
    font-family: 'proxima', sans-serif;
}

#container {
    width: 640px;
    margin: 0 auto;
    position: relative;
    background-color: #e8e8e8;
}

a{
    text-decoration: underline;
}

a.link {
    color: #007dd5;
}

h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

*{
    box-sizing: border-box;
    font-family: 'proxima', sans-serif;
}

.marg-t {
    margin-top: 20px;
}

.upper {
    text-transform: uppercase;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}


.logo *{
    display: inline-block;
    vertical-align: middle;
    font-size: 23px;
    line-height: 28px;
    color: #36393d;
}

.logo span{
    border-left: 2px solid #c0c7d2;
    padding-left: 12px;
}

.logo img{
    margin-right: 10px;
}

.header{
    background: #dadfe6;
    height: 86px;
    position: relative;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;
}


.burger{
    display: inline-block;
    width: 86px;
    height: 86px;
    background: #273848;
    vertical-align: middle;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}


.burger div, .burger:before, .burger:after{
    background: #fff;
    width: 100%;
    height: 7px;
    content: '';
    display: block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
    left: 0;
}


.burger div{
    margin: 8px 0;

}


.burger.open{
    padding-top: 38px;
}

.burger.open div{
    left: -86px;
    position: absolute;
}

.burger.open:before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
}

.burger.open:after{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -8px;

}


.main-menu{
    position: fixed;
    width: 360px;
    background: #273848;
    overflow: auto;
    height: 100%;
    display: none;
    z-index: 700;
    top: 0;
    padding-top: 101px;
}

.main-menu a{
    font-size: 18px;
    color: #ffffff;
    display: block;
    line-height: 24px;
}


.main-menu li{
    margin-bottom: 15px;
    padding: 0 20px;
}


.main-menu li li a{
    font-size: 16px;
    line-height: 24px;

}


.main-menu li li li a{
    font-size: 14px;
    line-height: 22px;
}


.main-menu li ul{
    padding-top: 15px;
}


ul.root-item{
    display: none;
}

.search-form{
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.search-form input{
    width: 100%;
    height: 86px;
    background: #f8f8f8 url("../images/ico-search.png") no-repeat 40px center;
    padding: 0 30px 0 80px;
    font-size: 26px;
    font-family: 'proxima', sans-serif;
    border-radius: 4px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.welcome {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../images/map_back.png);
}

.photo-block {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.photo-block img {
    display: inline;
}

.text-block {
    display: inline-block;
    max-width: 65%;
    text-align: justify;
}

.text-block p {
    margin-bottom: 10px;
}

ul.second-menu {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

ul.second-menu > li > a {
    color: #323232 !important;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    width: 190px;
}

ul.second-menu > li > img {
    display: inline;
    vertical-align: middle;
    max-width: 50px;
    max-height: 45px;
    margin-right: 10px;
}

ul.second-menu > li {
    background-image: url('../images/map_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-position: center;
    width: 48%;
    display: inline-block;
    margin-bottom: 10px;
    height: 70px;
    border-left-style: solid;
    border-left-width: 3px;
    vertical-align: top;
}

ul.second-menu > li:nth-child(2n + 1) {
    margin-right: 10px;
    border-left-color: #206db1;
}

ul.second-menu > li:nth-child(2n) {
    border-left-color: #70c7fe;
}

.main-button {
    margin-bottom: 25px;
}

.main-button {
    display: inline-table;
    margin-right: 9px;
    width: 31%;
    height: 80px;
    text-align: center;
    background-color: #1c69ab;
    vertical-align: top;
}

.main-button:last-child {
    margin-right: 0;
}

.main-button > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    height: 100%;
    display: table-cell;
    width: 100%;
}

.jqselect{
    display: block;
    width: 100%;
}


.jq-selectbox__select{
    background: #fff !important;
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    border: 2px solid #dadfe6;
    padding-left: 10px;
    padding-right: 60px;
    margin-bottom: 30px;
}

.jq-selectbox__select-text{
    height: 56px;
    line-height: 56px;
    font-size: 24px;
    font-weight: 300;
}

.jq-selectbox__trigger{
    border: 0;
    width: 60px;
    background: #f6bd68;
}


.jq-selectbox .jq-selectbox__trigger-arrow{
    top: 50%;
    left: 50%;
    margin: -3px  0 0 -5px;
    border-top-color: #fff;
}

.jq-selectbox__dropdown{
    border-radius: 0;
}

.jq-selectbox li{
    font-size: 24px;
    font-weight: 300;
    padding: 10px;
}

.item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.white-block {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.gerb-block {
    padding-top: 20px;
    margin-bottom: 20px;
}

.gerb-block span {
    font-size: 20px;
    vertical-align: middle;
}

.circle {
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.2);
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55%;
}

.circle > img {
    max-width: 60%;
    display: table-cell;
    vertical-align: middle;
}

.grey-text {
    color: #919090;
}

.blue-text {
    color: #037cd3 !important;
}

.map-item {
    display: inline-block;
    width: 48%;
    margin-bottom: 15px;
    vertical-align: top;
}

.map-item:nth-child(2n+1) {
    margin-right: 20px;
}

.square {
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    background-color: #f6bd68;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

.map-item-text {
    display: inline-block;
    vertical-align: middle;
}

.map-item-text p {
    margin-top: 7px;
    font-size: 18px;
}

.btn-yellow {
    display: inline-block;
    background-color: #f6bd68;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.region-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.region-info > .white-block {
    width: 32%;
    margin-right: 5px;
    padding: 15px;
    display: inline-block;
    height: 180px;
    vertical-align: top;
}

.region-info > .white-block:last-child {
    margin-right: 0;
}

.region-info h3 {
    height: 50px
}

.region-info p {
    margin-bottom: 4px;
}

.region-info strong {
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
}

.blue-block {
    display: inline-table;
    margin-right: 9px;
    width: 48%;
    height: 120px;
    text-align: center;
    vertical-align: top;
    background-position: center center;
    margin-bottom: 10px;
    background-size: cover;
}

.blue-block:nth-child(2n) {
    margin-right: 0;
}

.blue-block > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    height: 100%;
    display: table-cell;
    width: 100%;
}

.news {
    margin-bottom: 20px;
}

.news-block {
    padding-top: 7px;
    width: 200px;
    height: 360px !important;
    background-color: #ffffff;
}

.news-block > .img-link {
    display: block;
    max-width: 100%;
    height: 210px;
    overflow: hidden;
    margin-bottom: 6px;
}

.news-block > .img-link > img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-height: 135%;
    max-width: 125%;
}

.news-block > .header-link {
    font-size: 16px;
    margin-top: 6px;
    display: block;
    height: 80px;
    overflow: hidden;
    line-height: 18px;
}

.news-social > a {
    margin-right: 8px;
}

.news-social > a > img {
    max-height: 20px;
}

.useful-link {
    padding-top: 20px;
    padding-bottom: 20px;
}

.circle-big {
    height: 120px;
    width: 120px;
    background-color: #e9edf1;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 2px 5px 2px #d6d6d6;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 80%;
    max-height: 80%;
    margin-bottom: 8px;
}

.useful-link p {
    font-size: 14px;
    line-height: 18px;
    max-height: 130px;
    overflow: hidden;
}

.useful-link a {
    text-decoration: none;
}

.footer {
    padding: 50px;
    color: #ffffff;
    background-color: #2d3b47;
}

.footer .copy {
    position: relative;
    font-size: 17px;
    line-height: 28px;
    padding-left: 105px;
    margin-bottom: 45px;
}

.footer .copy .img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.footer > p {
    margin-bottom: 10px;
}

.social a {
    margin-right: 5px;
}

.social {
    display: inline-block;
    vertical-align: middle;
}

.site-map {
    display: inline-block;
    vertical-align: middle;
    float: right;
}