body{
    font-family: 'proxima', sans-serif;
}

#container {
    width: 640px;
    margin: 0 auto;
    position: relative;
    background-color: #e8e8e8;
}

a{
    text-decoration: underline;
}

a.link {
    color: #007dd5;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 25px;
    line-height: 28px;
}

h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

h5 {
    font-size: 18px;
    margin-bottom: 10px;
}

h6 {
    font-weight: bold;
}

*{
    box-sizing: border-box;
    font-family: 'proxima', sans-serif;
}

.marg-t {
    margin-top: 20px;
}

.marg-r {
    margin-right: 15px;
}

.small-marg-t {
    margin-top: 8px;
}

.vertical-middle {
    vertical-align: middle;
}

.upper {
    text-transform: uppercase;
}

.f16 {
    font-size: 16px;
}

.inline {
    display: inline-block;
}

.hidden {
    display: none;
}

.dark-text {
    color: #323232;
    text-decoration: none;
}

.logo{
    display: inline-block;
    vertical-align: middle;
}

.logo *{
    display: inline-block;
    vertical-align: middle;
    font-size: 23px;
    line-height: 28px;
    color: #36393d;
}

.logo span{
    border-left: 2px solid #c0c7d2;
    padding-left: 12px;
}

.logo img{
    margin-right: 10px;
}

.header{
    background: #dadfe6;
    height: 86px;
    position: relative;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;
}

.row > * {
    vertical-align: middle;
}
/*
.row > *:nth-child(2n + 1) {
    float: left;
}

.row > *:nth-child(2n) {
    float: right;
}
*/
.burger{
    display: inline-block;
    width: 86px;
    height: 86px;
    background: #273848;
    vertical-align: middle;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}


.burger div, .burger:before, .burger:after{
    background: #fff;
    width: 100%;
    height: 7px;
    content: '';
    display: block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: relative;
    left: 0;
}


.burger div{
    margin: 8px 0;

}


.burger.open{
    padding-top: 38px;
}

.burger.open div{
    left: -86px;
    position: absolute;
}

.burger.open:before{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
}

.burger.open:after{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -8px;

}


.main-menu{
    position: fixed;
    width: 360px;
    background: #273848;
    overflow: auto;
    height: 100%;
    display: none;
    z-index: 700;
    top: 0;
    padding-top: 101px;
}

.main-menu a{
    font-size: 18px;
    color: #ffffff;
    display: block;
    line-height: 24px;
}


.main-menu li{
    margin-bottom: 15px;
    padding: 0 20px;
}


.main-menu li li a{
    font-size: 16px;
    line-height: 24px;

}


.main-menu li li li a{
    font-size: 14px;
    line-height: 22px;
}


.main-menu li ul{
    padding-top: 15px;
}


ul.root-item{
    display: none;
}

.search-form{
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.search-form input{
    width: 100%;
    height: 86px;
    background: #f8f8f8 url("../images/ico-search.png") no-repeat 40px center;
    padding: 0 30px 0 80px;
    font-size: 26px;
    font-family: 'proxima', sans-serif;
    border-radius: 4px;
    border: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.welcome {
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url(../images/map_back.png);
}

.photo-block {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.photo-block img {
    display: inline;
}

.text-block {
    display: inline-block;
    max-width: 65%;
    text-align: justify;
}

.text-block p {
    margin-bottom: 10px;
}

ul.second-menu {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

ul.second-menu > li > a {
    color: #323232 !important;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    width: 190px;
}

ul.second-menu > li > img {
    display: inline;
    vertical-align: middle;
    max-width: 50px;
    max-height: 45px;
    margin-right: 10px;
}

ul.second-menu > li {
    background-image: url('../images/map_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-position: center;
    width: 48%;
    display: inline-block;
    margin-bottom: 10px;
    height: 70px;
    border-left-style: solid;
    border-left-width: 3px;
    vertical-align: top;
}

ul.second-menu > li:nth-child(2n + 1) {
    margin-right: 10px;
    border-left-color: #206db1;
}

ul.second-menu > li:nth-child(2n) {
    border-left-color: #70c7fe;
}

.main-button {
    margin-bottom: 25px;
}

.main-button {
    display: inline-table;
    margin-right: 9px;
    width: 31%;
    height: 80px;
    text-align: center;
    background-color: #1c69ab;
    vertical-align: top;
}

.main-button:last-child {
    margin-right: 0;
}

.main-button > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    height: 100%;
    display: table-cell;
    width: 100%;
}

.jqselect{
    display: block;
    width: 100%;
}


.jq-selectbox__select{
    background: #fff !important;
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    border: 2px solid #dadfe6;
    padding-left: 10px;
    padding-right: 60px;
    margin-bottom: 10px;
}

.jq-selectbox__select-text{
    height: 56px;
    line-height: 56px;
    font-size: 24px;
    font-weight: 300;
}

.jq-selectbox__trigger{
    border: 0;
    width: 60px;
    background: #f6bd68;
}


.jq-selectbox .jq-selectbox__trigger-arrow{
    top: 50%;
    left: 50%;
    margin: -3px  0 0 -5px;
    border-top-color: #fff;
}

.jq-selectbox__dropdown{
    border-radius: 0;
}

.jq-selectbox li{
    font-size: 24px;
    font-weight: 300;
    padding: 10px;
}

.item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.white-block {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.gerb-block {
    padding-top: 20px;
    margin-bottom: 20px;
}

.gerb-block span {
    font-size: 20px;
    vertical-align: middle;
}

.circle {
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.2);
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 55%;
}

.circle > img {
    max-width: 60%;
    display: table-cell;
    vertical-align: middle;
}

.grey-text {
    color: #919090;
}

.blue-text {
    color: #037cd3 !important;
}

.map-item {
    display: inline-block;
    width: 48%;
    margin-bottom: 15px;
    vertical-align: top;
}

.map-item:nth-child(2n+1) {
    margin-right: 20px;
}

.square {
    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    background-color: #f6bd68;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

.map-item-text {
    display: inline-block;
    vertical-align: middle;
}

.map-item-text p {
    margin-top: 7px;
    font-size: 18px;
}

.btn-yellow {
    display: inline-block;
    background-color: #f6bd68;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.btn-yellow-small {
    display: inline-block;
    background-color: #f6bd68;
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.region-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.region-info > .white-block {
    width: 32%;
    margin-right: 5px;
    padding: 15px;
    display: inline-block;
    height: 190px;
    vertical-align: top;
}

.region-info > .white-block:last-child {
    margin-right: 0;
}

.region-info h3 {
    height: 50px
}

.region-info p {
    margin-bottom: 4px;
}

.region-info strong {
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
}

.blue-block {
    display: inline-table;
    margin-right: 9px;
    width: 48%;
    height: 120px;
    text-align: center;
    vertical-align: top;
    background-position: center center;
    margin-bottom: 10px;
    background-size: cover;
}

.blue-block:nth-child(2n) {
    margin-right: 0;
}

.blue-block > a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    height: 100%;
    display: table-cell;
    width: 100%;
}

.news {
    margin-bottom: 20px;
}

.news-block {
    padding-top: 7px;
    width: 200px;
    height: 360px !important;
    background-color: #ffffff;
}

.news-block > .img-link {
    display: block;
    max-width: 100%;
    height: 210px;
    overflow: hidden;
    margin-bottom: 6px;
}

.news-block > .img-link > img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-height: 135%;
    max-width: 125%;
}

.news-block > .header-link {
    font-size: 16px;
    margin-top: 6px;
    display: block;
    height: 80px;
    overflow: hidden;
    line-height: 18px;
}

.news-social > a {
    margin-right: 8px;
}

.news-social > a > img {
    max-height: 20px;
}

.useful-link {
    padding-top: 20px;
    padding-bottom: 20px;
}

.circle-big, .circle-small {
    background-color: #e9edf1;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 2px 5px 2px #d6d6d6;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    max-width: 80%;
    max-height: 80%;
    margin-bottom: 8px;
}

.circle-big {
    height: 120px;
    width: 120px;
}

.circle-small {
    height: 90px;
    width: 90px;
}

.useful-link p {
    font-size: 14px;
    line-height: 18px;
    max-height: 130px;
    overflow: hidden;
}

.useful-link a, .useful-link-2 a {
    text-decoration: none;
    color: #323232;
}

.useful-link-2 {
    text-align: left;
}

.useful-link-2 p {
    display: inline-block;
    font-size: 20px;
    line-height: 18px;
    max-height: 130px;
    overflow: hidden;
    max-width: 60%;
    text-align: left;
}

.useful-link-2 > .circle-big {
    vertical-align: middle;
    height: 100px;
    width: 100px;
}

.footer {
    padding: 50px;
    color: #ffffff;
    background-color: #2d3b47;
}

.footer .copy {
    position: relative;
    font-size: 17px;
    line-height: 28px;
    padding-left: 105px;
    margin-bottom: 45px;
}

.footer .copy .img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.footer > p {
    margin-bottom: 10px;
}

.social a {
    margin-right: 5px;
}

.social {
    display: inline-block;
    vertical-align: middle;
}

.site-map {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.iblock {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    padding-right: 20px;
    width: 48%;
}

.iblock__icon {
    display: inline-block;
    background-color: #f6bd68;
    padding: 10px;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60%;
    max-width: 80%;
    max-height: 80%;
}

.iblock__page {
    display: inline-block;
    vertical-align: middle;
}

.iblock__head, .iblock__body {
    max-width: 180px;
}

.breadcrumbs{
    padding: 25px;
    font-size: 14px;
    color: #aaaaaa;
}

.breadcrumbs a{
    color: #007dd5;
    text-decoration: none;
}

.breadcrumbs a:hover{
    color: #aaaaaa;
}

.text-padding {
    padding: 20px;
}

.padding-l {
    padding-left: 20px;
}

.padding-t {
    padding-top: 20px;
}

.padding-r {
    padding-right: 20px;
}

.padding-b {
    padding-bottom: 20px;
}

.image {
    max-width: 100%;
}

.circle-list {
    margin-left: 25px;
}

.circle-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 7px;
}

.circle-list li:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: 4px;
}

.circle-list.blue li:before {
    background-color: #037cd3;
}

.circle-list.green li:before {
    background-color: #77b43d;
}

.circle-list.orange li:before {
    background-color: #F39F39;
}

.grey-circle {
    background-color: #afb9d2;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.toggle-item > h6 {
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 10px;
}

.toggle-item {
    padding-right: 40px;
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}

.graphic-list {
    border-left-color: #BABBBE;
    border-left-style: solid;
    border-left-width: 3px;
    padding-left: 60px;
}

.graphic-list li {
    margin-bottom: 15px;
    position: relative;
}

.graphic-list li:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: 4px;
    z-index: 1;
}

.graphic-list li:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 3px;
    width: 45px;
    background-color: #BABBBE;
    left: -60px;
    top: 8px;
    z-index: 0;
}

.graphic-list li:first-child:before {
    background-color: #77b43d;
}

.graphic-list li:nth-child(2):before {
    background-color: #F39F39;
}

.graphic-list li:nth-child(3):before {
    background-color: #037cd3;
}

.graphic-list h6 {
    cursor: pointer;
}

.document-block > .doc-icon {
    display: inline-block;
    vertical-align: top;
}

.document-block > .doc-icon > img {
    width: 60px;
}

.document-block > .doc-description {
    display: inline-block;
    vertical-align: top;
}

.document-block > .doc-description > p {
    font-size: 14px;
    margin-top: 4px;
}

.download-btn {
    background-color: #f6bd68;
    background-image: url('../images/download.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.useful > .inline {
    max-width: 75%;
    line-height: 1.3;
}

.useful .circle-small {
    background-size: contain;
}

.useful a {
    font-size: 21px;
}

.number-list {
    list-style: decimal;
    margin-left: 30px;
}

.number-list > li {
    margin-bottom: 7px;
}

.dash-list {
    list-style: none;
    line-height: 1.5;
}

.dash-list > li::before {
    content: "- ";
}

.two-photo img {
    max-width: 97%;
}

.two-photo > .inline {
    width: 48%
}

.leftBigDigit {
    font-family: sans-serif;
    font-size: 40px;
    text-anchor: end;
    font-weight: bold;
    fill: #DADFE6;
}

.mountthTxt {
    font-family: sans-serif;
    font-size: 14px;
    text-anchor: middle;
    text-transform: uppercase;
    fill: gray;
}

.schedule-button {
    border: #c5c8cc 1px solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}

.schedule-button.active {
    background-color: rgb(67, 140, 203);
    color: #ffffff;
}

.show-block .grey-text {
    color: #786c5b;
    margin-left: 30px;
}

ul.alfavit > li {
    display: inline-block;
    margin-bottom: 20px;
    width: 40px;
}

ul.alfavit > li:first-child {
    width: 65px;
}

ul.alfavit > li > a {
    color: #404141;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

ul.alfavit > li > a.active {
    background: #f6bd68;
    color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.list-gloss {
    margin-bottom: 25px;
    display: block;
}

.list-gloss dt {
    color: #206db1;
    margin-bottom: 8px;
    font-weight: bold;
}

/*---PAGINATION---*/


.pagination,
.pagination li a {
    color: #8f9090;
    font-size: 16px;
}

.pagination li {
    background-color: white;
    display: inline-block;
}

.pagination a {
    text-decoration:none;
    border: 1px solid #dadfe6;
    padding: 10px;
    min-width:28px;
    min-height:34px;
    margin-right: 3px;
    margin-left: 3px;
}

.pagination li:first-of-type span,
.pagination li:last-of-type span,
.pagination li:nth-of-type(2) span,
.pagination li:nth-last-of-type(2) span {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.pagination li:first-child a::before,
.pagination li:last-child a::after,
.pagination li:nth-of-type(2) a::before,
.pagination li:nth-last-of-type(2) a::after {
    display: inline-block;
    font-family: Fontawesome;
    font-size: inherit;
}

.pagination li:first-child a::before { content: "\f100"; }
.pagination li:last-child a::after  { content: "\f101"; }

.pagination li:nth-of-type(2) a::before { content: "\f104"; }
.pagination li:nth-last-of-type(2) a::after { content: "\f105"; }


.pagination li.current a {
    color: #ffffff;
    background-color: #f6bd68;
    border-color: #f6bd68;
    cursor: default;
    pointer-events: none;
}

/*---SWITCH---*/

.switch {
    display: inline-block;
    overflow: hidden;
    max-width: max-content;
    color: #323232;
  	border: 2px solid #dadfe6;
  	border-radius: 10px;
}

.switch__btn {
    display: inline-block;
    padding: 10.5px 8px;
  	margin: 2px;
    position: relative;
    text-align: center;
    -webkit-transition: background 600ms ease, color 600ms ease;
    transition: background 600ms ease, color 600ms ease;
}

.switch input[type="radio"].toggle {
    display: none;
}

.switch input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 60px;
}

.switch input[type="radio"].toggle + label:hover {
    background: none;
    color: #f6bd68;
}

.switch input[type="radio"].toggle + label:after {
    background: #f6bd68;
    content: "";
  	border-radius: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
}

.switch input[type="radio"].toggle.toggle-left + label {
    border-right: 0;
}

.switch input[type="radio"].toggle.toggle-left + label:after {
    left: 100%;
}

.switch input[type="radio"].toggle.toggle-right + label {
    margin-left: -5px;
}

.switch input[type="radio"].toggle.toggle-right + label:after {
    left: -100%;
}

.switch input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #fff;
    -webkit-transition: color 200ms;
    transition: color 200ms;
  	z-index: 1;
}

.switch input[type="radio"].toggle:checked + label:after {
    left: 0;
}

/*---DATEFORM---*/

.dateform {
    float: left;
    height: 44px;
    border-top: 2px solid #dadfe6;
    border-bottom: 2px solid #dadfe6;
    border-left: 2px solid #dadfe6;
    color: #323232;
    padding: 0 0 0 6px;
    max-width: 100px;
}

.dateform_img {
    float: left;
    opacity: 1;
    cursor: pointer;
    border-top: 2px solid #dadfe6;
    border-bottom: 2px solid #dadfe6;
    border-right: 2px solid #dadfe6;
    width: 44px;
    height: 44px;
    padding: 4px;
    background: #f6bd68;
    box-sizing: border-box;
    margin-right: 10px;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.dateform_img_display {
    display: none;
}