.table td {
    border-right: 1px solid #a8b3c4;
    border-bottom: 1px solid #a8b3c4;
    white-space: nowrap;
}

.table tr:first-child th:first-child {
    text-align: center;
}

.table th {
    color: #ffffff;
    background-color: #037cd3;
    border-right: 1px solid #479fdf;
    border-bottom: 1px solid #479fdf;
}

.table__custom tr td:first-child {
    text-align: left;
    padding-left: 20px;
    white-space: normal;
    box-shadow: inset -5px 0px 5px -2px rgba(214,220,228,1);
}

.table th, td {
    text-align: center;
    padding: 10px;
}

.main-line {
    background-color: rgb(183, 226, 255);
}

.main-line td {
    border: none;
}

.main-line td:first-child {
    box-shadow: none !important;
}

.second, .third, .fourth {
    display: none;
}

.more_info, .less_info {
    background-color: #ededed;
}

.more_info p, .less_info p {
    cursor: pointer;
    text-decoration: underline;
}

.more_info p:hover, .less_info p:hover {
    text-decoration: none;
}

.table tr td:first-child p {
    overflow: hidden;
}

.accordion-table tr td:first-child {
    width: 400px;
}

.subrow-1 {
    padding-left: 30px !important;
}

.subrow-2 {
    padding-left: 70px !important;
}

.subrow-3 {
    padding-left: 90px !important;
}

.arrow-grey {
    font-size: 26px !important;
    color: #c3c3c3;
    cursor: pointer;
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.table tbody td h6 {
    display: inline-block;
    width: 86%;
    vertical-align: top;
}

table.table-control {
    border-collapse: inherit;
}

table.table-control tr td {
    word-wrap: break-word;
    white-space: pre-line;
}

table.table-control tr th:first-child,
table.table-control tr td:first-child {
    padding-left: 34px;
}

.table-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 100%;
    border-right: 1px solid #a8b3c4;
}

.table-number span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    height: 18px;
    width: 24px;
    text-align: center;
}

table.table-control tr th:first-child {
    position: relative;
}

table.table-control tr td:first-child {
    box-shadow: none;
    position: relative;
    border-right: 1px solid #a8b3c4;
    border-bottom: 1px solid #a8b3c4;
}

table.table-control tr td:last-child {
    width: auto;
    word-wrap: normal !important;
    white-space: normal !important;
}

.page__docs {
    color: #919599;
}

.page__docs span {
    display: block;
}

table.table-project {
    border-collapse: inherit;
}

.table-project tr td:first-child {
    box-shadow: none;
}

.table-project tr th {
    border-right: 1px solid #c2bec3;
    border-bottom: 1px solid #c2bec3;
}

.table-project tr td h6 {
    vertical-align: middle;
}

.table-project tr td {
    background: #fff;
}